* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: black;
    text-align: center;
    font-family: 'Staatliches';
    color: #fff;
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #f09,
      0 0 40px #f09,
      0 0 80px #f09,
      0 0 90px #f09,
      0 0 100px #f09,
      0 0 150px #f09;
      
  }

  h1{
    /* box-shadow: 0 0 1rem rgba(226, 221, 221, 0.575); */
    font-size: 75px;
    font-weight: 400;
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #0fa,
    0 0 21px #0fa,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
    margin-top: 20px;
  }
  
  .container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
  }
  
  .box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(226, 221, 221, 0.575);
    font-family: 'Staatliches';
    font-size: 8vmin;
    /* color: #1589FF; */
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px rgb(0, 42, 230),
    0 0 21px rgb(0, 42, 230),
    0 0 42px rgb(0, 42, 230),
    0 0 82px rgb(0, 42, 230),
    0 0 92px rgb(0, 42, 230),
    0 0 102px rgb(0, 42, 230),
    0 0 151px rgb(0, 42, 230);
    background-color: #2d2d2b;
    cursor: pointer;
  }
  
  #reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #f09,
      0 0 80px #f09,
      0 0 90px #f09,
      0 0 100px #f09,
      0 0 150px #f09;
    box-shadow: 0 0 1rem #f09;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    font-family: 'Staatliches';
  }
  
  #new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #f09,
      0 0 80px #f09,
      0 0 90px #f09,
      0 0 100px #f09,
      0 0 150px #f09;
    border-radius: 1rem;
    box-shadow: 0 0 1rem #f09;
    border: none;
    cursor: pointer;
    font-family: 'Staatliches';
  }
  
  #msg {
    color: #e8e8df;
    font-size: 10vmin;
    /* font-size: 100px; */
    font-weight: 400;
  }
  
  .msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  
  .hide {
    display: none;
  }

  h1{
    color: white;
  }

  #reset-btn:hover{
    transform: scale(1.1);
    transition: 0.3s;
  }

  #new-btn:hover{
    transform: scale(1.1);
    transition: 0.3s;
  }

  .box:hover{
    transform: scale(1.1);
    transition: 0.1s;
  }